/* myStyle.qss */



QPushButton {
    background-color: #00569a;
    color: #ffffff;
    border: 1;
    padding: 0px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 1px 1px;
    border-radius: 4px;
}


/* 按钮悬停效果 */
QPushButton:hover {
    background-color: #45a049;
}
